.weather-widget {
    position: static;
    border-radius: 8px;
    padding: 3vh;
    width: 325px;
    margin: 10vh 10vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Quicksand';
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.weather-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.weather-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.location {
    font-size: 15px;
    font-weight: bold;
    color: rgb(236, 236, 236);
}

.weather-description {
    font-size: 15px;
    font-weight: 500;
    color: rgb(236, 236, 236);
    text-align: right;
}

.weather-middle-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.temperature {
    font-size: 35px;
    font-weight: bold;
    color: rgb(236, 236, 236);
}

.weather-icon {
    font-size: 40px;
    color: rgb(236, 236, 236);
}

.weather-bottom-row {
    display: flex;
    justify-content: space-between;
    color: rgb(236, 236, 236);
    align-items: center;
    width: 100%;
}

.weather-detail {
    flex-grow: 1;
    display: flex;
    font-size: 15px;
    color: rgb(236, 236, 236);
    font-weight: 500;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2px;
    margin: 0 3px;
    white-space: nowrap;
}

.weather-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.weather-detail i {
    margin-right: 15px;
}

