.calendar-container {
  font-family: 'Quicksand';
  max-width: 80vw;
  margin: 10vh 10vw;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 5vh 3vw;
  border-radius: 8px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}



.fc-theme-standard td, 
.fc-theme-standard th {
  border: none;
}

.fc-theme-standard .fc-scrollgrid {
  border: none;
}

.fc-daygrid-day {
  border: none;
  border-radius: 15px;
  overflow: visible;
  background-color: #f9f9f9;
  /* box-shadow: 0px 0px 1px 1px lightblue; */
}

.fc-daygrid-day-frame {
  background-color: #f9f9f9;
  border-radius: 15px;
  border: 1px solid rgb(197, 198, 216);
}

.fc-daygrid-day-events{
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 4px;
}

.fc-event {
  font-size: 2vh;
  padding: 3px;
  border: 1.5px solid rgb(197, 198, 216);
  border-radius: 10px;
  cursor: pointer;
  color: black;
}

.fc-event:hover {
  border: 1.5px solid rgb(104, 110, 183);
  border-radius: 10px;
  color: black;
  background: #f9f9f9;
}

.fc-daygrid-day-number {
  position: relative;
  top: 5px;
  right: 10px;
  text-decoration: none;
  color: black
}

.fc-col-header-cell-cushion{
  color: black;
  text-decoration: none;
}

.fc-col-header{
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

/* Styles for the entire overlay (background) */
.calendar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal container */
.event-modal {
  display: block;
  position: fixed;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
  padding: 30px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #000000;
  font-size: 16px;
}

/* Buttons */
.add-button, .delete-button {
  background-image: linear-gradient(to right, rgb(39, 57, 114) , rgb(104, 110, 183));
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button{
  background-image: none;
}

.close-icon {
  margin-bottom: 10px;
  padding: 0px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #333;
  line-height: 15px;
}

.close-icon:hover {
  color: rgb(104, 110, 183);
}

/* Modal actions container */
.modal-actions {
  margin-top: 20px;
}

/* Form styles */
.input-title{
  font-weight: bold;
  color: #000000;
  width: 100%;
  background:none;
  border:none;
  border-bottom: 1px solid #ccc;
  font-size: 25px;
  margin-bottom: 20px;
}

.input-title:focus, .input-date:focus, .input-description:focus{
  outline: none;
  border-bottom: 3px solid rgb(104, 110, 183);
  caret-color: rgb(91, 99, 189);
}

.input-title::placeholder {
  color: #5f5f5f;
  font-style: italic;
}

.input-date, .input-description{
  padding: 5px;
  border-radius: 5px;
  background:#e2e2e2;
  color:#333;
  margin-right: 10px;
  border:none;
}

.input-date:hover, .input-description:hover{
  background:#ccc;
}

.input-description{
  margin-top: 10px;
}

.input-description:focus{
  background:#e2e2e2;
}


.check-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.check-container input {
  display: none; /* Hide the default checkbox */
}

.check-container .checkmark {
  border: 2px solid rgb(104, 110, 183);
  width: 20px;
  height: 20px;
  border-radius: 4px;
  position: relative;
  margin-right: 10px;
}

.check-container input:checked + .checkmark {
  background-color: rgb(104, 110, 183);
}

.check-container input:checked + .checkmark::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 4px;
  width: 7px;
  height: 12px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.all-day{
  color:#333;
  font-weight: normal;
  font-size: 16px;
  pointer-events: none;
}

.input-description{
  width: 100%;
}