.user-location-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    text-align: center;
    background-image: url('https://i.pinimg.com/originals/3d/d2/86/3dd286a8c85ad38a5d7e0aa60139ac08.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.user-location-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 1;
}

.user-location-container h1 {
    font-size: 50px;
    font-family: 'Quicksand';
    color: rgb(236, 236, 236);
    margin-bottom: 20px;
    z-index: 2;
}

.dropdown-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    z-index: 2;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    font-family: 'Quicksand';
    z-index: 2;
}

label {
    display: block;
    margin: 10 px 0;
    padding: 10px;
    color: rgb(236, 236, 236);
    font-weight: 1000;
    font-size: 20px;
    z-index: 2;
}

.custom-dropdown {
    display: inline-block;
    margin: 0 7px;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    border-bottom: 2px solid rgb(236, 236, 236);
    width: 250px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

select:hover {
    border-bottom: 2px solid rgb(43, 43, 43);
}

select:disabled {
    color: rgba(206, 206, 206, 0.7);
    border-bottom: 2px solid rgb(206, 206, 206);
}

select option {
    padding: 4px;
    font-size: 14px;
    font-weight: 500;
}

@media (max-width: 600px) {
    .user-location-container {
        padding: 10px;
    }

    .user-location-container h1 {
        font-size: 30px;
    }

    .form-group {
        align-items: center;
    }

    label {
        font-size: 16px;
    }

    select {
        width: 100%;
    }
}
