.room-container {
    background-image: url('https://applescoop.org/image/wallpapers/mac/macos-12-monterey-stock-default-dark-17-09-2024-1726606874.jpg');
    /* background-image: url('https://4kwallpapers.com/images/wallpapers/macos-monterey-stock-blue-dark-mode-layers-5k-2560x2560-5895.jpg'); */
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.head-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    background-size: cover;
    z-index: 1;
}

.header {
    position: relative;
    font-family: 'Quicksand';
    font-size: clamp(35px, 5vw, 60px);
    color: rgb(236, 236, 236);
    white-space: nowrap;
    display: flex;
    margin: 20vh 10vw 5vh 10vw;
    z-index: 0;
}

.widget-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


@media (max-width: 900px) {
    .widget-container {
        flex-direction: column;
        align-items: center;
    }
    .widget-container > * {
        width: 100%;
    }
}
