.room-container {
    background-color: #cfcfcf;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.head{
    display: flex;
    justify-content: space-between;
}

.header {
    position: relative;
    font-family: 'Quicksand';
    font-size: clamp(35px, 5vw, 60px);
    color: rgb(255, 255, 255);
    white-space: nowrap;
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
}

.weather-widget {
    max-height: 40vh;
    z-index: 1;
}
