.room-container {
    background-color: #cfcfcf;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.head-container{
    display: flex;
    justify-content: space-between;
    margin: 15vh 10vw 5vh 10vw;
}

.header {
    position: relative;
    font-family: 'Quicksand';
    font-size: clamp(35px, 5vw, 60px);
    color: rgb(255, 255, 255);
    white-space: nowrap;
    display: flex;
}

.weather-container {
    display: flex;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
}
