.menu-container {
  position: absolute;
  display: flex;
  align-items: center;
  top: 3vh;
  right: 0;
  margin: 12vh 10vw 5vh 10vw;
  z-index: 2;
}

.menu-container .spin-to {
  animation: spinTo 0.3s ease-in-out forwards;
}

.menu-container .spin-back {
  animation: spinBack 0.3s ease-in-out forwards;
}

.menu-button {
  background-color: transparent;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  opacity: 1;
  background-color: #16203d;
  transition: ease, transform 0.2s ease;
}
  
.menu-border {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.menu-border circle {
  fill: none;
  stroke: #cbceff;
  stroke-width: 4.5;
  stroke-dasharray: 296;
  stroke-dashoffset: 296;
  transition: stroke-dashoffset 0.5s ease-in-out;
}

.menu-border .animate-in {
  stroke-dashoffset: 0;
  animation: drawBorder 0.5s ease-in forwards;
}

.menu-border .animate-out {
  stroke-dashoffset: 296;
  animation: eraseBorder 0.3s ease-out forwards;
}
  
.menu-icon {
  height: 2.5px;
  width: 27px;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  margin: 2.5px 0;
  display: block;
  transition: background-color 0.3s ease, transform 0.3s ease, margin 0.3s ease;
  z-index: 10;
}

.menu-button.spin-to .menu-icon:nth-child(1) {
  transform: translateY(3px) translateX(8px) rotate(45deg);
  width: 13px;
}

.menu-button.spin-to .menu-icon:nth-child(3) {
  transform: translateY(-3px) translateX(8px) rotate(-45deg);
  width: 13px;
}

.menu-button.spin-to:hover .menu-icon {
  margin: 2.5px 0;
}

.menu-button:hover .menu-icon {
  margin: 3.5px 0;
}

.menu-button .menu-icon {
  transition: background-color 0.3 ease, transform 0.3s ease, margin 0.3s ease;
}


@keyframes drawBorder {
  from {
    stroke-dashoffset: 296;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes eraseBorder {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 296;
  }
}

@keyframes spinTo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes spinBack {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
