.inputs-container {
  position: relative;
  height: 100vh;
}

.page-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.inputs-container .fade-enter {
  opacity: 0;
}

.inputs-container .fade-enter-active {
  opacity: 1;
  transition: opacity 1500ms ease-in-out;
}

.inputs-container .fade-exit {
  opacity: 1;
}

.inputs-container .fade-exit-active {
  opacity: 0;
  transition: opacity 1500ms ease-in-out;
}
